

#header {

  padding: 6em;
  background: @color-blue;
  color: whitesmoke;

  display: flex;
  .justify-content(center);
  .align-items(center);
  .flex-direction(column);

  ul.links li {

    display: inline;

    &:not(:last-child):after {
      content: '•';
      margin: 0 10px;
    }

  }

  a {

    font-size: 18px;
    font-weight: lighter;
    opacity: 0.7;
    color: whitesmoke;

    &:hover {
      opacity: 1;
    }

  }

  .leader {
    text-align: center;
  }

  p {
    font-size: 1.6em;
    font-weight: lighter;
  }

}
