

#header {

  padding: 6em;
  color: whitesmoke;

  background-image: url('/static/images/lecture-hall.jpg');
  background-position: 0 50%;
  .background-size(cover);

  display: flex;
  .justify-content(center);
  .align-items(center);
  .flex-direction(column);

  ul.links li {

    display: inline;

    &:not(:last-child):after {
      content: '•';
      margin: 0 10px;
    }

  }

  a {

    font-size: 18px;
    font-weight: lighter;
    color: whitesmoke;

    &:hover {
      opacity: 1;
    }

  }

  .leader {
    text-align: center;
  }

  p {
    font-size: 1.6em;
    font-weight: lighter;
  }

}
