

#results {
  margin-top: 1em;
}


#hit-count {

  font-size: 2.4em;

  .count {
    font-weight: 500;
  }

  .texts {
    font-weight: 200;
    opacity: 0.5;
  }

}


#search {
  margin: 10px 0 20px;
}


#text-list {

  position: relative;

  .list-header {
    width: 92%;
    margin: 0 auto;
  }

  th {
    text-align: center;
    font-size: 12px;
  }

  th:last-child {
    text-align: left;
  }

  td.rank, td.count {
    font-size: 2em;
    vertical-align: middle;
    text-align: center;
  }

  td.rank {
    font-weight: bold;
  }

  td.text {

    em {
      font-style: normal;
      font-weight: bold;
      color: @brand-danger;
    }

    .title {
      font-size: 1.4em;
      font-weight: bold;
    }

    code {
      background: white;
      font-size: 10px;
      border: 1px solid darken(white, 10%);
      color: @gray-dark;
    }

  }

  tbody tr:hover {
    background: lighten(whitesmoke, 2%);
  }

  // Loading:

  .loading tbody {
    opacity: 0.4;
  }

  .spinner {

    position: absolute;
    top: 4em;
    width: 100%;

    .sk-circle {
      width: 200px;
      height: 200px;
    }

    .sk-child:before {
      background: @color-blue;
    }

  }

}
