

#text-list {

  .list-header {
    width: 90%;
    margin: 0 auto;
  }

  .total-hits {

    font-size: 2.4em;

    .count {
      font-weight: 500;
    }

    .texts {
      font-weight: 200;
      opacity: 0.5;
    }

  }

  .search input {
    margin: 10px 0;
    height: 45px;
    font-size: 20px;
  }

  table {
    margin-top: 1em;
  }

  th {
    text-align: center;
    font-size: 12px;
  }

  th:last-child {
    text-align: left;
  }

}
