

#header {

  .header();

  padding: 4em 0;

  .leader {

    h1 {
      margin: 0;
      font-weight: bold;
      font-size: 26px;
    }

  }

}


// Mobile

@media (max-width: @screen-md-min) {
  #header {

    text-align: center;

    .leader h1 {
      margin-top: 1em;
    }

  }
}


// Desktop

@media (min-width: @screen-md-min) {
  #header {

    .row {
      .display(flex);
      .justify-content(center);
      .align-items(center);
    }

    .leader {
      float: left;
    }

    .links {
      float: right;
    }

  }
}
