

#header {

  padding: 4em 0;
  color: whitesmoke;

  background-image: url('/static/images/lecture-hall.jpg');
  background-position: 0 50%;
  .background-size(cover);

  text-align: center;

  a {
    color: whitesmoke;
  }

  .leader {

    h1 {
      margin: 0;
      font-weight: bold;
      font-size: 26px;
    }

    a:hover {
      text-decoration: none;
    }

  }

  ul.links {

    margin: 0;
    padding: 0;

    li {

      display: inline;

      &:not(:last-child):after {
        content: '•';
        margin: 0 10px;
      }

    }

    a {
      font-size: 18px;
      font-weight: lighter;
    }

  }

}


// Vertical:
@media (max-width: @screen-md-min) {
  #header {

    .leader h1 {
      margin-top: 1em;
    }

  }
}


// Horizontal:
@media (min-width: @screen-md-min) {
  #header {

    .row {
      display: flex;
      .justify-content(center);
      .align-items(center);
    }

    .leader {
      float: left;
    }

    .links {
      float: right;
    }

  }
}
