

#text {

  margin-top: 2em;

  .corpus {

    font-family: @font-family-monospace;

    i {
      opacity: 0.3;
    }

  }

  .citation {

    h1.title, h4.authors {
      font-weight: 200;
    }

  }

}
