

#text {
  margin-top: 2em;
}

#corpus {

  font-family: @font-family-monospace;
  font-weight: bold;

  .sep {
    opacity: 0.4;
  }

}

#citation {

  h1.title {
    font-weight: bolder;
    font-size: 3.5em;
  }

}

#metrics {

  .col {
    margin: 2em 0 3em;
  }

  .metric {
    text-align: center;
    display: inline-block;
    margin-right: 3em;
  }

  .val {
    font-size: 6em;
    font-family: "mplus-1m";
    line-height: 1;
  }

  .key {
    font-size: 0.9em;
  }

}

#siblings {

  p.heading {

    font-size: 1.5em;
    font-weight: lighter;

    strong {
      font-weight: 600;
    }

  }

  td.count {
    font-size: 2em;
    padding: 0 1em;
  }

}


// Vertical:
@media (max-width: @screen-md-min) {
  #metrics {

    .col {
      margin: 1em 0 2em;
    }

    .metric {
      display: block;
      margin-bottom: 2em;
      text-align: left;
    }

  }
}
