

#filters {

  margin-top: 2em;

  .filter-control {
    margin: 0 0 2em;
  }

  .Select {
    font-size: 15px;
  }

  .Select-control {
    .border-radius(1px);
  }

  .Select-placeholder {
    color: #aaa;
  }

  h4 {
    font-size: 16px;
    font-weight: 600;
  }

}
