

#header {

  .header();

  padding: 6em 2em;
  text-align: center;

  .leader {

    h1 {
      font-size: 38px;
      font-weight: bold;
    }

  }

  p {
    margin: 0;
    font-weight: lighter;
    font-size: 1.6em;
  }

}
