

#header {

  padding: 6em 2em;
  color: whitesmoke;

  background-image: url('/static/images/lecture-hall.jpg');
  background-position: 0 50%;
  .background-size(cover);

  display: flex;
  .justify-content(center);
  .align-items(center);
  .flex-direction(column);

  ul.links {

    margin: 0;
    padding: 0;

    li {

      display: inline;

      &:not(:last-child):after {
        content: '•';
        margin: 0 10px;
      }

    }

    a {
      font-size: 18px;
      font-weight: lighter;
      color: whitesmoke;
    }

  }

  .leader {

    text-align: center;

    h1 {
      font-size: 34px;
      font-family: @font-family-monospace;
      font-weight: bold;
    }

    code {
      position: relative;
      top: -1em;
      font-size: 14px;
      opacity: 0.9;
    }

  }

  p {
    margin: 0;
    font-weight: lighter;
    font-size: 1.6em;
  }

}
