

#results {
  margin-top: 1em;
}


#hit-count, #clear-filters {
  display: inline-block;
  font-size: 2.4em;
}


#hit-count {

  .texts {
    font-weight: 200;
    opacity: 0.5;
  }

  &.loading, &.empty {
    opacity: 0.5;
    font-weight: 200;
  }

}


#clear-filters {
  margin-left: 20px;
}


#search {

  margin: 10px 0 20px;

  .btn:focus {
    outline: none;
  }

}


#text-list {

  position: relative;

  .list-header {
    width: 92%;
    margin: 0 auto;
  }

  td.rank {
    font-weight: bold;
    font-size: 1.8em;
  }

  td.text {

    em {
      font-style: normal;
      font-weight: bold;
      color: @brand-danger;
    }

  }

  // Loading

  .loading tbody {
    opacity: 0.4;
  }

  .spinner {

    position: absolute;
    top: 4em;
    width: 100%;

    .sk-circle {
      width: 120px;
      height: 120px;
    }

    .sk-child:before {
      background: @brand-primary;
    }

  }

  // No results

  i.no-results {
    font-size: 15em;
    color: darken(whitesmoke, 5%);
  }

}


// Mobile

@media (max-width: @screen-xs-min) {
  #text-list {

    td:not(:last-child), .title {
      padding: 0;
      font-size: 1.2em;
    }

  }
}
