[submodule "deploy/roles/postgres"]
	path = deploy/roles/postgres
	url = https://github.com/ANXS/postgresql.git
[submodule "deploy/roles/elasticsearch"]
	path = deploy/roles/elasticsearch
	url = git://github.com/traackr/ansible-elasticsearch.git
[submodule "deploy/roles/supervisord"]
	path = deploy/roles/supervisord
	url = https://github.com/zenoamaro/ansible-supervisord.git
