
ipython
tldextract
geopy
redis
rq
rq-dashboard==0.3.4
click
psycopg2
peewee
python-magic
requests
clint
prettytable
circus
beautifulsoup4
jsonstream
ijson
pypdf2
elasticsearch
blessings
anyconfig
PyYAML
uwsgi
flask
Flask-Cache
boto
numpy
scipy
reportlab
python-docx
pdfminer3k
pytest
networkx
pgmagick
nltk
wheel
wordfreq
jinja2
scandir
us
iso3166
webargs
cached-property
inflect

-e git+https://github.com/davidmcclure/pymarc.git@ascii#egg=pymarc
