ipython
jsonschema
mistune
tldextract
geopy
redis
rq
rq-dashboard
click
psycopg2
python-magic
requests
clint
prettytable
circus
beautifulsoup4
jsonstream
ijson
pypdf2
elasticsearch
blessings
anyconfig
PyYAML
uwsgi
flask
boto
numpy
scipy
reportlab
python-docx
pdfminer3k
pytest
matplotlib

-e git+https://github.com/davidmcclure/peewee.git@bug/postgres-ext-autorollback#egg=peewee
-e git+https://github.com/davidmcclure/pymarc.git@ascii#egg=pymarc
