ipython
tldextract
geopy
redis
rq
rq-dashboard
click
psycopg2
peewee
python-magic
requests
clint
prettytable
circus
beautifulsoup4
jsonstream
pypdf2
elasticsearch
blessings
ijson
anyconfig
PyYAML
uwsgi
flask
boto
spacy
pytest
numpy
scipy

-e git+https://github.com/davidmcclure/pymarc.git@ascii#egg=pymarc
