<!doctype html>
<html lang="en">

<head>

  <title>{% block title %}The Open Syllabus Project{% endblock %}</title>

  <meta name="viewport" content="width=device-width">

  {% block css %}{% endblock %}

  <!-- Typekit. -->
  <script src="https://use.typekit.net/yrw2pmj.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>

  <!-- Livereload. -->
  {% if config.DEBUG %}
    <script src="//localhost:35729/livereload.js"></script>
  {% endif %}

</head>

<body>
  {% block body %}{% endblock %}
  {% block js %}{% endblock %}
</body>

</html>
