
{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="/static/dist/ranks.css">
{% endblock %}

{% block js %}

<script>
OSP = {
  facets: {{ facets|safe }}
};
</script>

<script src="/static/dist/ranks.js"></script>

{% endblock %}

{% block body %}

<div id="header">

  {% include "navigation.html" %}

  <div class="leader">
    <h1>Open Syllabus Explorer <code>beta</code></h1>
    <p>Explore text assignment rankings from a corpus of 1M+ college
    course syllabi.</p>
  </div>

  <div class="actions">

    <div class="action">
      <button class="btn btn-default">
        {% include "down.svg" %}
        <span>Browse text rankings</span>
      </button>
    </div>

    <div class="action">
      <a href="/graph" class="btn btn-default">
        {% include "graph.svg" %}
        <span>Explore citation graph</span>
      </a>
    </div>

  </div>

</div>

<div id="ranks"></div>

{% endblock %}
