
{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="/static/dist/ranks.css">
{% endblock %}

{% block js %}

<script>
OSP = {
  facets: {{ facets|safe }}
};
</script>

<script src="/static/dist/ranks.js"></script>

{% endblock %}

{% block body %}

<div id="header">

  <img class="aa-logo" src="/static/images/aa-logo-white.png">

  {% include "navigation.html" %}

  <div class="leader">
    <h1>Open Syllabus Explorer <code>beta 0.4</code></h1>
    <p>Mapping the college curriculum across 1M+ syllabi.</p>
  </div>

  <div class="actions">

    <div class="action ranks">
      <a class="btn btn-default">
        {% include "down.svg" %}
        <span>Browse text rankings</span>
      </a>
    </div>

    <div class="action graph">
      <a href="/graph" class="btn btn-default">
        {% include "graph.svg" %}
        <span>Explore citation graph</span>
      </a>
    </div>

  </div>

</div>

<div id="ranks"></div>

{% endblock %}
