
{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="/static/dist/ranks.css">
{% endblock %}

{% block js %}

<script>
OSP = {
  facets: {{ facets|safe }}
};
</script>

<script src="/static/dist/ranks.js"></script>

{% endblock %}

{% block body %}

<div id="header">

  <ul class="links">
    <li><a href="#">About</a></li>
    <li><a href="#">Methodology</a></li>
    <li><a href="#">People</a></li>
  </ul>

  <div class="leader">
    <h1>The Open Syllabus Project</h1>
    <p>The Open Syllabus Project analyzes text assignments in a corpus of 1M+
    college course syllabi.</p>
  </div>

</div>

<div id="ranks"></div>

{% endblock %}
