
{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="/static/dist/text.css">
{% endblock %}

{% block js %}
{% endblock %}

{% block body %}

<div id="header">
  <div class="container">
    <div class="row">

      <div class="col col-md-6 col-md-push-6">
        <ul class="links">
          <li><a href="#">About</a></li>
          <li><a href="#">Methodology</a></li>
          <li><a href="#">People</a></li>
        </ul>
      </div>

      <div class="col col-md-6 col-md-pull-6">
        <div class="leader">
          <h1>
            <a href="{{ url_for('home') }}">
              Open Syllabus Explorer
            </a>
          </h1>
        </div>
      </div>

    </div>
  </div>
</div>

<div id="text">
  <div class="container">

    <!-- Corpus. -->
    <div class="row corpus">
      <div class="col col-md-12">
        <span>{{ text.corpus }}</span>
        <span class="sep">/</span>
        <span>{{ text.identifier }}</span>
      </div>
    </div>

    <!-- Citation. -->
    <div class="row citation">
      <div class="col col-md-12">
        <h1 class="title">{{ text.pretty('title') }}</h1>
        <h3 class="title">{{ ', '.join(text.pretty('authors')) }}</h3>
      </div>
    </div>

    <!-- Metrics. -->
    <div class="row metrics">
      <div class="col col-md-12">

        <table>
          <tr class="counts">
            <td>{{ count }}</td>
            <td>{{ score }}%</td>
          </tr>
          <tr class="labels">
            <td>Assignment Count</td>
            <td>Teaching Score</td>
          </tr>
        </table>

      </div>
    </div>

    <!-- Siblings. -->
    <div class="row siblings">
      <div class="col col-md-12">

        <p class="heading">Texts assigned with
        <strong>{{ text.pretty('title') }}</strong>:</p>

        <table class="table text-list">

          <thead>
            <tr>
              <th>Count</th>
              <th>Text</th>
            </tr>
          </thead>

          <tbody>
            {% for raw in siblings['hits'] %}
            {% set hit = Hit(raw) %}
            <tr>

              <td class="count">
                {{ hit.count }}
              </td>

              <td class="text">

                <a href="{{ hit.path }}" class="title">
                  {{ hit.field('title') }}
                </a>

                <div class="authors">
                  {{ hit.field('authors') }}
                </div>

              </td>

            </tr>
            {% endfor %}
          </tbody>

        </table>

      </div>
    </div>

    </div>

  </div>
</div>

{% endblock %}
