
{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="/static/dist/text.css">
{% endblock %}

{% block js %}
{% endblock %}

{% block body %}

<div id="header">
  <div class="container">
    <div class="row">

      <ul class="links">
        <li><a href="#">About</a></li>
        <li><a href="#">Methodology</a></li>
        <li><a href="#">People</a></li>
      </ul>

      <div class="leader">
        <h1>
          <a href="{{ url_for('home') }}">
            Open Syllabus Explorer
          </a>
        </h1>
      </div>

    </div>
  </div>
</div>

<div id="text">
  <div class="container">
    <div class="row">

      <h1>{{ text.title }}</h1>

    </div>
  </div>
</div>

{% endblock %}
