
{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="/static/dist/text.css">
{% endblock %}

{% block js %}
{% endblock %}

{% block body %}

<div id="header">
  <div class="container">
    <div class="row">

      <div class="col col-md-6 col-md-push-6">
        <ul class="links">
          <li><a href="#">About</a></li>
          <li><a href="#">Methodology</a></li>
          <li><a href="#">People</a></li>
        </ul>
      </div>

      <div class="col col-md-6 col-md-pull-6">
        <div class="leader">
          <h1>
            <a href="{{ url_for('home') }}">
              Open Syllabus Explorer
            </a>
          </h1>
        </div>
      </div>

    </div>
  </div>
</div>

<div id="text">
  <div class="container">

    <!-- Corpus. -->
    <div class="row corpus">
      <div class="col col-md-12">
        <span>{{ text.field('corpus') }}</span>
        <span class="sep">/</span>
        <span>{{ text.field('identifier') }}</span>
      </div>
    </div>

    <!-- Citation. -->
    <div class="row citation">
      <div class="col col-md-12">
        <h1 class="title">{{ text.field('title') }}</h1>
        <h3 class="title">{{ text.field('authors') }}</h3>
      </div>
    </div>

    <!-- Metrics. -->
    <div class="row metrics">
      <div class="col col-md-12">

        <div class="metric rank">
          <div class="val">{{ text.field('rank') }}</div>
          <div class="key">Overall Rank</div>
        </div>

        <div class="metric count">
          <div class="val">{{ text.field('count') }}</div>
          <div class="key">Assignment Count</div>
        </div>

        <div class="metric score">

          <div class="val" style="color: {{ text.color }}">
            {{ (text.field('score')*100) | round(1) }}
          </div>

          <div class="key">Teaching Score</div>

        </div>

      </div>
    </div>

    {% if siblings['total'] > 0 %}

    <!-- Siblings. -->
    <div class="row siblings">
      <div class="col col-md-12">

        <p class="heading">Texts assigned with
        <strong>{{ text.field('title') }}</strong>:</p>

        <table class="table text-list">

          <thead>
            <tr>
              <th>Count</th>
              <th>Text</th>
            </tr>
          </thead>

          <tbody>
            {% for raw in siblings['hits'] %}
            {% set hit = Hit(raw) %}
            <tr>

              <td class="count">
                {{ hit.sort }}
              </td>

              <td class="text">

                <a href="{{ hit.path }}" class="title">
                  {{ hit.field('title') }}
                </a>

                <div class="authors">
                  {{ hit.field('authors') }}
                </div>

              </td>

            </tr>
            {% endfor %}
          </tbody>

        </table>

      </div>
    </div>

    {% endif %}

    </div>

  </div>
</div>

{% endblock %}
