

#header {

  position: fixed;
  top: 0;
  left: 0;

  margin: 10px;

  a {
    color: whitesmoke;
  }

  h1 {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
  }

  code {
    .version();
  }

}
