

#header {

  position: fixed;
  top: 0;
  left: 0;

  margin: 15px;
  opacity: 0.7;

  &:hover {
    opacity: 1;
  }

  a {
    color: whitesmoke;
  }

  h1 {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
  }

  code {
    .version();
  }

}
