<?xml version="1.0" encoding="utf-8"?>
<rdf:RDF xml:base="http://www.gutenberg.org/"
  xmlns:pgterms="http://www.gutenberg.org/2009/pgterms/"
  xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
  xmlns:dcam="http://purl.org/dc/dcam/"
  xmlns:marcrel="http://id.loc.gov/vocabulary/relators/"
  xmlns:cc="http://web.resource.org/cc/"
  xmlns:rdfs="http://www.w3.org/2000/01/rdf-schema#"
  xmlns:dcterms="http://purl.org/dc/terms/"
>
  <pgterms:ebook rdf:about="ebooks/2600">

    <dcterms:creator>
      <pgterms:agent rdf:about="2009/agents/136">
        <pgterms:name>Tolstoy, Leo, graf</pgterms:name>
      </pgterms:agent>
    </dcterms:creator>

    <dcterms:publisher>Project Gutenberg</dcterms:publisher>

    <dcterms:title>War and Peace</dcterms:title>

  </pgterms:ebook>

</rdf:RDF>
