---

osp:
  corpus: /osp/repository
  worker: /home/{{ ansible_ssh_user }}/osp/env/bin/rqworker

hlom:
  corpus: /osp/hlom

tika:
  server: http://localhost:9998/tika

postgres:

  local:
    database: osp
    host: localhost
    port: 5432
    user: osp
    password: {{ osp_password }}

  remote:
    database: osp
    host: {{ osp_data_host }}
    port: 5432
    user: osp
    password: {{ osp_password }}

redis:
  host: localhost
  port: 6379
  db: 0

elasticsearch:
  host: localhost
  port: 9200
