---

osp:
  corpus: /osp/repository
  worker: /home/{{ ansible_ssh_user }}/osp/env/bin/rqworker

postgres:
  host: {{ osp_data_host }}
  port: 5432
  user: osp
  password: '{{ osp_password }}'

redis:
  host: localhost
  port: 6379
  db: 0

elasticsearch:
  host: localhost
  port: 9200

libreoffice:
  path: /usr/bin/soffice
